.header-option {
  color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  margin-right: 1rem;
}

.header-option:hover {
  color: black;
}

.header-option__title {
  font-weight: 100;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-option__link {
  width: 100px;
}

.header-option__link a {
  width: 100px;
  color: #915907;
  font-size: 12px;
  text-decoration: none;
}

.header-option__link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 920px) {
  .header-option__title {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header-option {
    width: 4rem;
    margin-right: 10px;
  }
}
