.curve-button {
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1rem;

  margin-right: 1em;
}

.blue-btn {
  border: none;
  background-color: #0167ce;
  color: white;
  font-weight: bold;
}

.blue-btn:hover {
  background-color: #0857a7;
}

.white-btn {
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

.white-btn:hover {
  background-color: rgb(212, 212, 212);
}

.blue-white-btn {
  background-color: white;
  border: 1px solid #307ecc;
  color: #307ecc;
}

.blue-white-btn:hover {
  background-color: white;
  border: 1.5px solid rgb(63, 113, 139);
}
