.chat {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}
.chat-container {
  border: 1px solid gray;
  width: 70%;
  display: flex;
  border-radius: 10px;
  background-color: white;
}

.ad-container {
  border: 2px solid black;
  width: 25%;
}
