.text-area-container {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  padding: 1rem;
}

.text-area-container label {
  display: block;
  text-align: left;
  padding-bottom: 10px;
  color: gray;
}

textarea {
  padding: 1rem;
  font-size: 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.char-count {
  color: gray;
  position: absolute;
  bottom: -1rem;
  right: 2rem;
}
