.search-input {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: #eef3f8;
  color: gray;
}
.header-search-option {
  display: none;
}

.search-input input {
  outline: none;
  border: none;
  background-color: transparent;
}

ul.search-results {
  position: fixed;
  width: 80vh;
  top: 4.5rem;
  left: 1rem;

  z-index: 1000;
  padding: 1rem;

  border-radius: 5px;
}

ul.search-results li {
  display: flex;
  align-items: center;

  padding: 10px;
}

ul.search-results li h4 {
  margin: 0 1rem;
  font-size: 1rem;
}

ul.search-results li p {
  color: gray;
  font-size: 0.9rem;
}

@media screen and (max-width: 998px) {
  .search-input {
    display: none;
  }
  .header-search-option {
    display: block;
  }
}

.search-input-expand {
  display: flex;
  position: absolute;
  margin-left: 50px;

  width: 80%;
  height: 70%;
}

.search-input-expand + div ul.search-results {
  width: 80%;
  left: 10%;
}
