.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;

  background-color: white;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px rgb(170, 170, 170);
}

.header__left {
  width: 20%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 5%;
}

.header__right {
  width: 60%;
}

@media screen and (max-width: 1255px) {
  .header__right {
    width: 70%;
  }
}

@media screen and (max-width: 998px) {
  .header__right {
    width: 80%;
  }
}

@media screen and (max-width: 370px) {
  .header__left {
    margin-right: 2rem;
  }
}
