.header-options {
  display: flex;
  /* width: 100%; */
  justify-content: flex-start;
  align-items: center;
}

.header-app-options {
  display: flex;
  justify-content: space-between;
}

.more-icon {
  display: none;
}

.header-options a {
  text-decoration: none;
}

a.active .header-option {
  border-bottom: 2px solid black;
  color: black;
}

@media screen and (max-width: 700px) {
  .header-app-options {
    display: none;
  }
  .more-icon {
    display: block;
  }
}
