.area-container {
  position: relative;
}

.start-date-container,
.end-date-container {
  width: 100%;
  padding: 1rem;
}

.start-date-container .start-date,
.end-date-container .end-date {
  display: flex;

  justify-content: flex-start;
}

label {
  color: gray;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.edit-edu input {
  width: 100%;

  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.start-date input,
.end-date input {
  width: 50%;
  margin-right: 20px;
}
