.profile-education {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid rgb(189, 189, 189);
}

.education-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.education-heading h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.education-content {
  padding: 1rem;
}

.education-content p {
  font-size: 0.8rem;
}

.education-list {
  display: flex;
  position: relative;
  margin: 1rem 0;
}

.education-list img {
  width: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

.education-info {
  text-align: left;
}

.edu-timeline {
  color: gray;
}

.edit-icon {
  position: absolute;
  padding: 0.3rem;
  right: 0;
}

.edit-icon:hover {
  border-radius: 50%;
  background-color: rgba(83, 83, 83, 0.281);
}

.education-list:not(:first-child) .edit-icon {
  display: none;
}

.education-list:hover .edit-icon {
  display: block;
}
