.edit-exp {
  width: 100%;
  padding: 1rem;
}

.start-date-container .start-date,
.end-date-container .end-date {
  display: flex;

  justify-content: flex-start;
}

.edit-exp label {
  color: gray;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.edit-exp input {
  width: 100%;

  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
}

.start-date input,
.end-date input {
  width: 50%;
  margin-right: 20px;
}

.edit-exp input:focus {
  outline: auto;
}

.description {
  position: relative;
  margin: 1rem 0;
}

.description textarea {
  /* position: absolute;
      top: 10;
      left: 0; */
  resize: none;
  width: 100%;
  height: 100%;
}

.edit-exp div {
  margin: 1rem 0;
}
